In [1]:
import pandas as pd

# Configura pandas para no usar notación científica
pd.set_option('display.float_format', '{:.2f}'.format)

def calcular_amortizacion(monto, meses, tasa_anual, cobro_fijo, abonos=None, reducir_tiempo=True):
    # Calcula la tasa nominal mensual
    tasa_mensual = (1 + tasa_anual) ** (1/12) - 1

    # Inicializa variables
    saldo = monto

    # DataFrame para almacenar los resultados
    columnas = ['Mes', 'Interes', 'Cobro Fijo', 'Cuota Mensual', 'Capital Restante', 'Capital Pagado']
    amortizacion_df = pd.DataFrame(columns=columnas)

    # Calcula la cuota mensual sin abonos
    cuota_mensual = (saldo * tasa_mensual) / (1 - (1 + tasa_mensual) ** -meses)

    mes = 1
    while saldo > 0 and mes <= meses:
        # Calcula el interés del mes
        interes = saldo * tasa_mensual

        # Aplica abono si existe
        abono = 0
        if abonos and mes in abonos:
            abono = abonos[mes]
            saldo -= abono
            if reducir_tiempo:
                # Recalcula los meses restantes proporcionalmente al nuevo saldo
                meses_reducidos = int((abono / saldo) * meses)
                meses -= meses_reducidos
            else:
                cuota_mensual = (saldo * tasa_mensual) / (1 - (1 + tasa_mensual) ** -(meses - mes))

        # Calcula el capital a pagar
        capital = cuota_mensual - interes

        # Actualiza el saldo
        saldo -= capital

        # Calcula el total de la cuota mensual
        cuota_total = cuota_mensual + cobro_fijo

        # Agrega los datos al DataFrame
        capital_pagado = capital + abono
        amortizacion_df.loc[len(amortizacion_df)] = [mes, interes, cobro_fijo, cuota_total, saldo, capital_pagado]

        mes += 1

    # Calcula los totales a partir del DataFrame
    total_interes_pagado = amortizacion_df['Interes'].sum()
    total_pagado = amortizacion_df['Interes'].sum() + amortizacion_df['Capital Pagado'].sum()

    # Diccionario con los resultados finales
    resultados = {
        'dataframe': amortizacion_df,
        'total_interes_pagado': total_interes_pagado,
        'total_pagado': total_pagado
    }

    return resultados

In [6]:
abonos = {i: 500000 for i in range(1, 25)}
prueba = calcular_amortizacion(140000000,240,0.1,60000,abonos)

In [7]:
prueba['dataframe']

,Mes,Interes,Cobro Fijo,Cuota Mensual,Capital Restante,Capital Pagado
0,1.00,1116379.66,60000.00,1371295.36,139305084.30,694915.70
1,2.00,1110838.30,60000.00,1371295.36,138604627.25,700457.06
2,3.00,1105252.76,60000.00,1371295.36,137898584.65,706042.60
3,4.00,1099622.68,60000.00,1371295.36,137186911.97,711672.68
4,5.00,1093947.70,60000.00,1371295.36,136469564.31,717347.66
...,...,...,...,...,...,...
189,190.00,47402.77,60000.00,1371295.36,4680669.48,1263892.59
190,191.00,37324.32,60000.00,1371295.36,3406698.43,1273971.04
191,192.00,27165.49,60000.00,1371295.36,2122568.57,1284129.87
192,193.00,16925.66,60000.00,1371295.36,828198.87,1294369.70
193,194.00,6604.17,60000.00,1371295.36,-476492.32,1304691.19

In [19]:
print(prueba['total_interes_pagado'],prueba['total_pagado'])

201232156.95113638 405585302.2222606

In [27]:
abonos = {i: 1000000 for i in range(1, 25)}
prueba = calcular_amortizacion(190000000,240,0.1,60000)

In [28]:
prueba['dataframe']

,Mes,Interes,Cobro Fijo,Cuota Mensual,Capital Restante,Capital Pagado
0,1.00,1515086.68,60000.00,1839615.13,189735471.55,264528.45
1,2.00,1512977.29,60000.00,1839615.13,189468833.71,266637.84
2,3.00,1510851.09,60000.00,1839615.13,189200069.67,268764.04
3,4.00,1508707.92,60000.00,1839615.13,188929162.46,270907.21
4,5.00,1506547.67,60000.00,1839615.13,188656095.00,273067.46
...,...,...,...,...,...,...
235,236.00,69288.19,60000.00,1839615.13,6978783.54,1710326.94
236,237.00,55649.80,60000.00,1839615.13,5254818.20,1723965.33
237,238.00,41902.66,60000.00,1839615.13,3517105.73,1737712.47
238,239.00,28045.90,60000.00,1839615.13,1765536.50,1751569.24
239,240.00,14078.64,60000.00,1839615.13,0.00,1765536.50

In [22]:
print(prueba['total_interes_pagado'],prueba['total_pagado'])

340686228.35255027 613686228.3525503

240